.list-video{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
    margin-top: 15px;
    padding-top: 80px;
    .card{
        img{
            width: 100%;
            border-radius: 10px;
        }
       .bottom{
        position: relative;
        .creator{
            width: 20%;
            margin-top: 5px;
            img{
                width: 36px;
                border-radius: 50%;
            }
        }
        .info{
            padding-right: 30px;
            h2{
                font-size: 15px;
                font-weight: 600;
                color: var(--text-color-second);
                margin: 5px 0;
            }
            h3{
                font-size: 14px;
                font-weight: 600;
                color: var(--text-color-third);
                margin: 6px 0;
            }
            p{
                font-size: 14px;
            }
        }
        .content{
            display: flex;
            gap: 10px;
        }
        .more{
            position: absolute;
            width: fit-content;
            top: 0;
            right: 0;
            display: none;
            padding: 3px;
            img{
                width: 30px;
            }
        }
        &:hover .more{
            display: block;
            &:hover{
                border-radius: 50%;
                background-color: #ddd;
            }
        }
       }
    }
}